.jp-nbprovenance-view {
  display: flex;
}

.jp-nbprovenance-view .jp-nbprovenance-graph {
  background: var(--jp-toolbar-background);
  margin: 0;
  padding: 0;
  display: flex;
  flex: 1 1 auto;
}

.jp-nbprovenance-view .jp-nbprovenance-nograph {
  margin: 10px;
  color: var(--jp-ui-font-color1);
  font-size: var(--jp-ui-font-size1);
}

.jp-SideBar .p-TabBar-tabIcon.jp-nbprovenanceIcon {
  min-width: 20px;
  min-height: 20px;
  background-size: 20px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

.jp-nbprovenanceIcon {
  background-image: var(--jp-icon-link);
}