.jp-SideBar .p-TabBar-tabIcon.jp-nbprovenanceIcon {
  min-width: 20px;
  min-height: 20px;
  background-size: 20px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
}

.jp-nbprovenanceIcon {
  background-image: var(--jp-icon-link);
}