.jp-nbprovenance-view .jp-nbprovenance-toolbar {
    border-bottom: var(--jp-border-width) solid var(--jp-toolbar-border-color);
    padding: 2px;
    min-height: var(--jp-private-notebook-panel-toolbar-height);
    box-shadow: var(--jp-toolbar-box-shadow);
    background: var(--jp-toolbar-background);
    z-index: 1;
  }
  
  .jp-nbprovenanceIcon {
    background-image: var(--jp-icon-link);
  }